---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Linus from "../assets/images/linus.PNG";

import "../styles/tobii.min.css";
const { href = "#", target = "_self" } = Astro.props;
import "motion";
---

<MainLayout title="LIIINUS">
	<article class="">
		<div class="whitespace-nowrap p-10">
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
		</div>
		<Image
			class="h-[500px] w-fit m-auto"
			src={Linus}
			alt="Billede af os "
		/>

		<div class="whitespace-nowrap p-10">
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
		</div>
	</article>
</MainLayout>
