---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Linus from "../assets/images/linus.PNG";

import "../styles/tobii.min.css";
const { href = "#", target = "_self" } = Astro.props;
import "motion";
---

<MainLayout title="LIIINUS">
	<article>
		<div
			class="inline-block
      animate-infinite-scroll
      whitespace-nowrap
      [&_span]:mx-6"
		>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
		</div>

		<Image src={Linus} alt="Billede af os " />

		<div
			class="inline-block
      animate-infinite-scroll
      whitespace-nowrap
      [&_span]:mx-6"
		>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
			<span>ELSKER DIG</span>
		</div>
	</article>
</MainLayout>
