---

---

<div
    class="inline-block
      animate-infinite-scroll
      whitespace-nowrap
      [&_span]:mx-6"
>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
    <span>ELSKER DIG</span>
</div>
